<%- include('../includes/functions.ejs') %> <%- include('../includes/head.ejs')
%>
<body>
    <%- include('../includes/header-nav.ejs') %>
    <main class="container">
        <% if(products && products.length > 0) { %>
        <div>
            <% for(let item of products) { %>
            <div class="card elevation row justify-space-between align-center">
                <div class="row align-center">
                    <img
                        src="<%= item.productId.imageUri %>"
                        alt="<% item.productId.title %>"
                        style="height: 100px; width: 100px;"
                    />
                    <h2 class="text-center ml-2" style="overflow: hidden;">
                        <%= item.productId.title || 'Unnamed' %>
                    </h2>
                </div>
                <div class="row align-center">
                    <% if(item.productId.price > 0) { %>
                        <h3 class="text-center mr-2">
                            <%= formatCentsToDollars(item.productId.price) %>
                        </h3>
                    <% } else { %>
                        <h3 class="text-center mr-2">Free</h3>
                    <% } %>
                    <h3 class="text-center mr-2">
                        <%= item.quantity %>
                    </h3>
                    <form action="/cart_delete_item" method="POST">
                        <button class="btn btn-linear btn-sm ml-2" type="submit">
                            Remove
                        </button>
                        <input type="hidden" name="id" value="<%= item.productId._id %>" />
                    </form>
                </div>
            </div>
            <% } %>
            <form action="/create_order" method="POST">
                <button class="btn btn-linear-accent" type="submit">
                    Checkout
                </button>
            </form>
        <% } else { %>
        <h1>Your cart is empty</h1>
        <% } %>
    </main>
</body>

<%- include('../includes/footer.ejs') %>
