<%- include('../includes/functions.ejs') %> <%- include('../includes/head.ejs')
%>
<body>
    <%- include('../includes/header-nav.ejs') %>
    <main class="container">
        <% if(products && products.length > 0) { %>
        <div>
            <% for(let item of products) { %>
            <div class="card elevation row justify-space-between align-center">
                <h2 class="text-center" style="overflow: hidden;">
                    <%= item.title || 'New Book' %>
                </h2>
                <img
                    src="<%= item.imageUri %>"
                    alt="<% item.title %>"
                    style="height: 100px; width: 100px;"
                />
                <div class="row align-center">
                    <% if(item.price > 0) { %>
                        <h3 class="text-center mr-2">
                            <%= formatCentsToDollars(item.price) %>
                        </h3>
                    <% } else { %>
                        <h3 class="text-center mr-2">Free</h3>
                    <% } %>
                    <h3 class="text-center mr-2">
                        <%= item.cartProduct.quantity %>
                    </h3>
                    <form action="/cart_delete_item" method="POST">
                        <button class="btn btn-linear btn-sm ml-2" type="submit">
                            Remove
                        </button>
                        <input type="hidden" name="id" value="<%= item.id %>" />
                    </form>
                </div>
            </div>
            <% } %>
        </!-->
        <% } else { %>
        <h1>Your cart is empty</h1>
        <% } %>
    </main>
</body>

<%- include('../includes/footer.ejs') %>
