<% include('../includes/functions.ejs') %> <%- include('../includes/head.ejs')
%>
<body>
    <%- include('../includes/header-nav.ejs') %>

    <main class="container">
        <% if(products.length > 0) { %>
        <div class="grid-4">
            <% for(let product of products) { %>
            <div class="card elevation col justify-space-between align-center">
                <h2 class="text-center" style="height: 45px; overflow: hidden;">
                    <%= product.title || 'New Book' %>
                </h2>
                <img
                    src="<%= product.imageUri %>"
                    alt="<% product.title %>"
                    style="height: 150px; width: 100px;"
                />
                <h3 class="text-center">
                    <%= formatCentsToDollars(product.price) || 'Free' %>
                </h3>
                <p><%= product.description || 'No description' %></p>

                <%- include('../includes/addToCartButton.ejs', { product, small:
                true }) %>
            </div>
            <% } %>
        </div>
        <% } else { %>
        <h2>No products available</h2>
        <% } %>
    </main>
</body>

<%- include('../includes/footer.ejs') %>
