<% include('../includes/functions.ejs') %> <%- include('../includes/head.ejs')
%>
<body>
  <%- include('../includes/header-nav.ejs') %>
  <main class="container">
    <% if (orders.length <= 0) { %>
    <h2>You don't have any orders yet</h2>
    <% } else { %>
    <ul>
      <% orders.forEach(order =>{ %>
      <li>
        <div class="card">
          <h2>Order # <%= order._id %></h2>
          <ul>
            <% order.products.forEach(product => { %>
            <li>
              <%= product.product.title %> (<%= product.quantity %>) <%=
              formatCentsToDollars(product.product.price) %>
            </li>

            <% }) %>
          </ul>
        </div>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </main>
</body>

<%- include('../includes/footer.ejs') %>
